img {
    padding: 5px;
    height: auto;
    border-radius: 300px;
    background-color: #F1AE65;
    align-content: center;
}
img:hover {
    -webkit-transform:rotate(-7deg);
    -moz-transform:rotate(-7deg);
    -o-transform:rotate(-7deg);
    transform: rotate(-7deg);
}
.companys {
    padding: 15px;
    background-color: #2594EB;
    border-radius: 30px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    width: auto;
    box-shadow: 5px 10px 18px #F1AE65;
}
.visits {
	color: #F1AE65;
	font-weight: bolder;
	font-size: larger;
}

h3 {
    color: black;
}
.sitename button {
    background-color: #F1AE65;
    border-radius: 30px;
    border: #F1AE65;
    padding: 10px;
    font-family: 'Varela Round', sans-serif;
    box-shadow: 2px 2px 4px #000000;
}
.sitename button:hover {
    background-color: black;
    border-radius: 30px;
    border: #F1AE65;
    padding: 10px;
    color: white;
    font-family: 'Varela Round', sans-serif;
    cursor: pointer;
}
.join button {
    background-color: #3079C5;
    border-radius: 30px;
    border: #3079C5;
    padding: 10px;
    font-family: 'Varela Round', sans-serif;
    box-shadow: 2px 2px 4px #000000;
}
.join button:hover {
    background-color: black;
    border-radius: 30px;
    border: black;
    padding: 10px;
    font-family: 'Varela Round', sans-serif;
    color: white;
    cursor: pointer;
}
.event h3 {
    background-color: #F1AE65;
    border-radius: 30px;
    color: #3079C5;
}
.currentDate {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}
.social > img {
    width: 50px;
    background-color: #F1AE65;
    border-radius: 300px;
    padding: 5px;
}
header > img {
    padding: 5px;
    margin-left: 100px;
    margin-top: 10px;
}
/* ---------------Form------------------- */
form fieldset {
    margin: 2rem 0;
    border: 10px solid #F1AE65;
    border-radius: 10px;
    padding: .5rem 2%;
    background-color: #2594EB;
}
form legend {
    color: #000000;
    margin: 0 2rem;
    padding: .1rem .75rem;
    font-family: 'Varela Round', sans-serif;
    font-size:xx-large;
}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #000000;
    font-size: .8rem;
    font-family: 'Varela Round', sans-serif;
}
form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #2594EB;
    padding: .75rem;
    color: #000000;
    width: 100%;
    max-width: 20rem;
    border-radius: 10px;
    background-color: #F1AE65;
    font-family: 'Varela Round', sans-serif;
}
form label.bottom {
    display: block;
    padding: .75rem 0;
    color: #000000;
    font-family: 'Varela Round', sans-serif;
}
form label.bottom input {
    display: block;
    background-color: #F1AE65;
    border-radius: 10px;
    border: none;
    padding: .75rem;
}
form label.bottom textarea {
    display: block;
    background-color: #F1AE65;
    border-radius: 10px;
    border: none;
    padding: 1rem;
}
form input.submitBtn {
    border: none;
    background-color: #F1AE65;
    color: #000000;
    border-radius: 10px;
    padding: .75rem 1.5rem;
    font-family: 'Varela Round', sans-serif;
    font-size: larger;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
.radio {
    display: inline-block;
    font-family: 'Varela Round', sans-serif;
    font-size: larger;
}
form input.submitBtn:hover {
    background-color: #2594EB;
    color: #F1AE65;
    font-size: larger;
}
form label.top input:required {
    border-left: red solid 6px;
}
form label.top input:required:valid {
    border-left: green solid 6px;
}
form label.bottom input:required {
    border-left: red solid 6px;
}
form label.bottom input:required:valid {
    border-left: green solid 6px;
}



/* form {
    align-content: center;
    font-family: 'Varela Round', sans-serif;
    background-color: #2594EB; 
    border-radius: 30px;
    padding: 15px;
    margin: 15px;
    border-color: #F1AE65;
}
input {
    font-family: 'Varela Round', sans-serif;
    color: #000000;
    background-color: #F1AE65;
    border-radius: 5px;
    box-shadow: #F1AE65;
    border-color: #2594EB;
    padding: 3px;
    margin: 1px;
}
textarea {
    font-family: 'Varela Round', sans-serif;
    color: #000000;
    background-color: #F1AE65;
    border-radius: 5px;
    box-shadow: #F1AE65;
    border-color: #2594EB;
    padding: 3px;
    margin: 1px;

} */
.social {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}
h1, h2, h3, h4, p {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}
a {
    color: black;
    font-size: larger;
    text-align: center;
}
a:hover {
    color: #F1AE65;
}
header {
    background-color: #2594EB;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 15px;
    padding-top: 50px;
}
section {
    margin: .2em;
    border: 1px solid #3079C5;
    padding:  5rem;
    background-color: #F1AE65;
    border-radius: 30px;
    text-align: center;
    box-shadow: 2px 2px 4px #000000;
}
.sitename section{
    height: 98%;
    padding: .1rem;
    background-image: url("https://cdn.glitch.global/2f390c12-d4e1-40e0-a51f-298c860e6db7/wdd230-orgwidth620height413small.jpg?v=1644538736412");
    background-position: center;
    background-size: cover;
    position: relative;
}
.sitename {
    color: black;
    background-color: azure;
}
/* discover page =>*/
.grid-images {
    width: 400px;
    height: auto;
    transform: translateX(75%);
    opacity: 1;
    transition: all 300ms;
    border-radius: 30px;
    display: inline;
    justify-content: center;
    padding: 20px;
}
img:hover {
	transform: scale(1.1);
	animation: ease-in-out;
    cursor: none;
} 
.fade {
    transform: translateX(0);
    opacity: 1.0;
    transition: all 500ms;
}
/* <= discover page */
footer {
    background-color: #2594EB;
    border-radius: 30px;
    padding: 10px;
    font-family: 'Varela Round', sans-serif;
    align-items: center;
}
footer h3 {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    color: black;
    background-color: #2594EB;
}
footer img {
    margin-top: 20px;
    margin-left: 50px;
}


/* Small/Phone View ***************/
nav {
	margin: 0 auto;
	max-width: 50px;
	background-color: #F1AE65;
    font-family: 'Varela Round', sans-serif;
    border-radius: 600px;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham::before {
	content: "=";
}

.navigation a:hover {
	color: white;
	background-color: black;
    border-radius: 30px;
}
.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "âŒ ";
}
