img {
    padding: 15px;
    height: auto;
    border-radius: 300px;
    background-color: #F1AE65;
    align-content: center;
}
.sitename > img {
    background-image: url("https://cdn.glitch.global/2f390c12-d4e1-40e0-a51f-298c860e6db7/kace-lott-grbRPyX39Dg-unsplash.jpg?v=1643821093296");
    background-repeat: no-repeat;
    background-size: auto;
}
.sitename button {
    background-color: #F1AE65;
    border-radius: 300px;
    border: #F1AE65;
    padding: 10px;
    font-family: 'Varela Round', sans-serif;
    box-shadow: 2px 2px 4px #000000;
}
.sitename button:hover {
    background-color: black;
    border-radius: 300px;
    border: #F1AE65;
    padding: 10px;
    color: white;
    font-family: 'Varela Round', sans-serif;
    cursor: pointer;
}
.join button {
    background-color: #3079C5;
    border-radius: 300px;
    border: #3079C5;
    padding: 10px;
    font-family: 'Varela Round', sans-serif;
    box-shadow: 2px 2px 4px #000000;
}
.join button:hover {
    background-color: black;
    border-radius: 300px;
    border: black;
    padding: 10px;
    font-family: 'Varela Round', sans-serif;
    color: white;
    cursor: pointer;
}
.event h3 {
    background-color: #F1AE65;
    border-radius: 300px;
    color: #3079C5;
}
.currentDate {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}
.social > img {
    width: 50px;
    background-color: #F1AE65;
    border-radius: 300px;
    padding: 10px;
}
header > img {
    padding: 20px;
    margin-left: 100px;
    margin-top: 10px;
}
header h3 {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    color: black;
    background-color: #2594EB;
}
.social {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}
h1, h2, h3, h4, p {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}
a {
    color: black;
    font-size: larger;
    text-align: center;
}
a:hover {
    color: #F1AE65;
}
header {
    background-color: #2594EB;
    border-radius: 300px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 15px;
    padding-top: 50px;
}
section {
    margin: .2em;
    border: 1px solid #3079C5;
    padding:  5rem;
    background-color: #F1AE65;
    border-radius: 600px;
    text-align: center;
    box-shadow: 2px 2px 4px #000000;
}
.sitename section{
    height: 98%;
    padding: .1rem;
    background-image: url("https://cdn.glitch.global/2f390c12-d4e1-40e0-a51f-298c860e6db7/kace-lott-grbRPyX39Dg-unsplash.jpg?v=1643821093296"); 
}
footer {
    background-color: #2594EB;
    border-radius: 600px;
    padding: 10px;
    font-family: 'Varela Round', sans-serif;
    align-items: center;
}
footer h3 {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    color: black;
    background-color: #2594EB;
}
footer img {
    margin-top: 20px;
    margin-left: 50px;
}
/* Small/Phone View ***************/
nav {
	margin: 0 auto;
	max-width: 50px;
	background-color: #F1AE65;
    font-family: 'Varela Round', sans-serif;
    border-radius: 600px;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham::before {
	content: "=";
}

.navigation a:hover {
	color: white;
	background-color: black;
    border-radius: 600px;
}
/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "❌ ";
}
