@import "compass/css3";
/* Small/Phone View ***************/
nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: tomato;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham::before {
	content: "🍔 ";
}

.navigation a:hover {
	color: white;
	background-color: black;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "❌ ";
}

/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
}
/* .flex-container {
  padding: 5px;
  margin: 0;
  list-style: none;
  display: flex;
  
  -webkit-flex-flow: row wrap; 
  justify-content: space-around;
} */

header {
  background-color: #2594EB;
  border-radius: 15px;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: black;
  display: flex;
}
footer{
	background-color: #2594EB;
	border-radius: 15px;
	margin-top: 25px;
  color: black;
  padding: 1em;
  font-family: 'Varela Round', sans-serif;
}
img {
  width: 350px;
	height: auto;
	padding: 1em;
}
a:hover {
  color: #F1AE65;
  }
a {
  color: black;
}
h1 {
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  padding: 15px;
  display: flex;
  align-items: center;
}
h2 {
  font-family: 'Varela Round', sans-serif;
}
h3 {
  font-family: 'Varela Round', sans-serif;
}
p {
  font-family: 'Varela Round', sans-serif;
}
.box {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, .2);
  }
  
  .white {
    background: #fff;
  }
  
  .blue {
    background: #2594EB;
  }
  
  .orange {
    background: #F1AE65;
  }
  
  .black {
    background: #1C1128;
  }

  .blue2 {
    background: #3079C5;
  }