header {
    background-color: #2594EB;
    border-radius: 15px;
    padding: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
}
footer{
	background-color: #2594EB;
	border-radius: 15px;
	margin-top: 25px;
    color: black;
    padding: 1em;
    font-family: 'Varela Round', sans-serif;
}
img {
    width: 200px;
	height: auto;
	padding: 1em;
}
a:hover {
    color: #F1AE65;
  }
a {
    color: black;
}
h1 {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}
h2 {
    font-family: 'Varela Round', sans-serif;
}
h3 {
    font-family: 'Varela Round', sans-serif;
}
p {
    font-family: 'Varela Round', sans-serif;
}
.box {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, .2);
  }
  
  .white {
    background: #fff;
  }
  
  .blue {
    background: #2594EB;
  }
  
  .orange {
    background: #F1AE65;
  }
  
  .black {
    background: #1C1128;
  }

  .blue2 {
    background: #3079C5;
  }