/*--------------Small CSS-----------------*/
/* colors
Dodger blue #2C94FB
sandy brown #F69D6E
East Bay #3F437F
Anakiwa #94CCFC */
/* ---------------------------------------------------------------------------------HEADER--------------------------------------------------------------------------------- */
#header h1, #header h3, #header h4, #header h2 {
    font-family: 'Varela Round', sans-serif;
    margin: 5px;
    color: white;
}
#header .social {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
#header img {
    margin: 0 auto;
}
#header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    flex-direction: column;
}
#header img {
    max-width: 75px;
    border-radius: 15px;
}
.social {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 5px;
}
.social > img {
    width: 50px;
    background-color: #F69D6E;
    border-radius: 5px;
    padding: 5px;
}
/* ---------------------------------------------------------------------------------NAV--------------------------------------------------------------------------------- */
nav {
	/* margin: 0 auto; */
	max-width: 50px;
	background-color: #F69D6E;
    font-family: 'Varela Round', sans-serif;
    border-radius: 5px;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham::before {
	content: "=";
    background-color: #94CCFC;
    padding: 15px;
    border-radius: 5px;
}

.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "❌ ";
    background-color: #3F437F
}
.vertical-menu {
    width: 500px;
    margin: 10px; 
  }
  
  .vertical-menu a {
    background-color: #94CCFC; 
    color: black; 
    display: block;
    padding: 12px; 
    text-decoration: none; 
    border-radius: 5px;
    font-family: 'Varela Round', sans-serif;
    margin: 1px;
  }
  
  .vertical-menu a:hover {
    background-color: #3F437F; 
    color: #F1AE65;
  }
  
  .navigation a.active {
    background-color: #2C94FB; 
    border-radius: 5px;
    color: black;
  }


/*---------------------------------------------------------------------------------Footer--------------------------------------------------------------------------------- */
  footer {
    background-color: #2C94FB;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Varela Round', sans-serif;
    align-items: center;
}
footer h3 {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    color: black;
    background-color: #2C94FB;
}
footer img {
    margin-top: 20px;
    margin-left: 50px;
    max-width: 75px;
    border-radius: 15px;
}

/* -------------------------------------------------------------------------------Other----------------------------------------------------------------------------------- */
h1 h2 h3 h4 p {
    font-family: 'Varela Round', sans-serif;
}
#header {
    height: 100%;
    padding: 10px;
    background-image: url("https://cdn.glitch.global/2f390c12-d4e1-40e0-a51f-298c860e6db7/corcovado_national_park-1.jpg?v=1647907644174");
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 5px;
}
#homPage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
#homPage {
    height: 100%;
    padding: 10px;
    background-image: url("https://cdn.glitch.global/2f390c12-d4e1-40e0-a51f-298c860e6db7/iStock-525969927%20(3).jpg?v=1647911176910");
    background-position: center;
    /* background-size: cover; */
    position: relative;
    border-radius: 5px;
}