/*--------------Small CSS-----------------*/
/* colors
Dodger blue #2C94FB
sandy brown #F69D6E
East Bay #3F437F
Anakiwa #94CCFC */
/* ---------------------------------------------------------------------------------HEADER--------------------------------------------------------------------------------- */
#header h1, #header h3, #header h4, #header h2 {
    font-family: 'Varela Round', sans-serif;
    margin: 5px;
    color: white;
}
#header .social {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
#header img {
    margin: 0 auto;
}
#header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    flex-direction: column;
}
#header img {
    max-width: 75px;
    border-radius: 15px;
}
.social {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 5px;
}
.social > img {
    width: 50px;
    background-color: #94CCFC;
    border-radius: 5px;
    padding: 5px;
}
/* ---------------------------------------------------------------------------------NAV--------------------------------------------------------------------------------- */
nav {
	/* margin: 0 auto; */
	max-width: 50px;
	background-color: #94CCFC;
    font-family: 'Varela Round', sans-serif;
    border-radius: 5px;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham::before {
	content: "=";
    background-color: #94CCFC;
    padding: 15px;
    border-radius: 5px;
}

.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "❌ ";
    background-color: #3F437F
}
.vertical-menu {
    width: 500px;
    margin: 10px; 
  }
  
  .vertical-menu a {
    background-color: #94CCFC; 
    color: black; 
    display: block;
    padding: 12px; 
    text-decoration: none; 
    border-radius: 5px;
    font-family: 'Varela Round', sans-serif;
    margin: 1px;
  }
  
  .vertical-menu a:hover {
    background-color: #3F437F; 
    color: #94CCFC;
  }
  
  .navigation a.active {
    background-color: black; 
    border-radius: 5px;
    color: #94CCFC;
  }

/* -------------------------------------------------------------------------------- Home --------------------------------------------------------------------------- */
.temples phone {
    font-family: 'Varela Round', sans-serif;
    padding: 5px;
    font-size: large;
    display: block;
    color: white;
}
.temples address {
    font-family: 'Varela Round', sans-serif;
    padding: 5px;
    font-size: large;
    display: block;
    color: white;
}
.temples closures {
    font-family: 'Varela Round', sans-serif;
    padding: 5px;
    font-size: large;
    display: block;
    color: white;
}
.temples services {
    font-family: 'Varela Round', sans-serif;
    padding: 5px;
    font-size: large;
    display: block;
    color: white;
}
.temples history {
    font-family: 'Varela Round', sans-serif;
    padding: 5px;
    font-size: large;
    display: block;
    color: white;
}
.temples ordinanceSchedule {
    font-family: 'Varela Round', sans-serif;
    padding: 5px;
    font-size: large;
    display: block;
    color: white;
}
.temples email {
    font-family: 'Varela Round', sans-serif;
    padding: 5px;
    font-size: large;
    display: block;
    color: white;
}
.temples h2 {
    color: #94CCFC;
    font-family: 'Varela Round', sans-serif;
}
.temples img {
    width: 100%;
    max-width: 300px;
    border-radius: 4px;
    height: auto;
}
.temples {
    background-color: #3F437F;
    border-radius: 4px;
    margin: 30px;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    width: auto;
    box-shadow: 5px 10px 18px #3F437F;
}
.temples section {
    padding-top: 30px;
}

/*---------------------------------------------------------------------------------Footer--------------------------------------------------------------------------------- */
  footer {
    background-color: #3F437F;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Varela Round', sans-serif;
    align-items: center;
}
footer h3 {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    color: black;
    background-color: #3F437F;
}
footer img {
    margin-top: 20px;
    margin-left: 50px;
    max-width: 75px;
    border-radius: 15px;
}
.coll-page-section {
    position: relative;
    overflow: hidden;
}
.stars {
    display: grid;
    grid-template-columns: 1fr;
}
.stars p {
    margin: 0 auto;
}
.footerContact {
    display: none;
}
/* -------------------------------------------------------------------------------Other----------------------------------------------------------------------------------- */
h1, h2, h3, h4, p {
    font-family: 'Varela Round', sans-serif;
}
#header {
    background-image: url("https://cdn.glitch.global/2f390c12-d4e1-40e0-a51f-298c860e6db7/iStock-525969927%20(3).jpg?v=1647911176910");
    min-height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#homPage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
/*----------------------------------------Contact-----------------------------------------------*/
form {
    display: flex;
    margin: auto 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 5px;
}
form legend {
    color: #000000;
    margin: 0 2rem;
    padding: .1rem .75rem;
    font-family: 'Varela Round', sans-serif;
    font-size:xx-large;
}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #000000;
    font-size: .8rem;
    font-family: 'Varela Round', sans-serif;
    font-size: x-large;
}
form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #3F437F;
    padding: .75rem;
    color: #000000;
    width: 100%;
    max-width: 20rem;
    border-radius: 5px;
    background-color: #94CCFC;
}
form label.bottom {
    display: block;
    padding: .75rem 0;
    color: #000000;
    font-family: 'Varela Round', sans-serif;
    font-size: x-large;
}
form label.bottom input {
    display: block;
    background-color: #94CCFC;
    border-radius: 5px;
    border: none;
    padding: .75rem;
}
form label.bottom textarea {
    display: block;
    background-color: #94CCFC;
    border-radius: 5px;
    border: none;
    padding: 1rem;
}
form input.submitBtn {
    border: none;
    background-color: #94CCFC;
    color: #3F437F;
    border-radius: 5px;
    padding: .75rem 1.5rem;
    font-family: 'Varela Round', sans-serif;
    font-size: larger;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form input.submitBtn:hover {
    background-color: #3F437F;
    color: #94CCFC;
    font-size: larger;
}
form label.top input:required {
    border-left: red solid 6px;
}
form label.top input:required:valid {
    border-left: green solid 6px;
}
form label.bottom input:required {
    border-left: red solid 6px;
}
form label.bottom input:required:valid {
    border-left: green solid 6px;
}
/* -------------------------------Tours---------------------------------------------- */
.toursGrid {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
}
.toursGrid img {
    max-height: 200px;
    border-radius: 2px;
}
.toursGrid img:hover {
    -webkit-transform:rotate(-7deg);
    -moz-transform:rotate(-7deg);
    -o-transform:rotate(-7deg);
    transform: rotate(-7deg);
}
.toursGrid section {
    background-color: #94CCFC;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    text-align: center;
}
/* -----------------------------------------------About--------------------------------------------------------------------- */
.aboutUs {
    background-color: #94CCFC;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
}