/*-----------------Large CSS------------------*/
@media only screen and (min-width: 60em) {
    /* ---------------------------------------------------------------------------------HEADER--------------------------------------------------------------------------------- */
    h1 {
        font-size: 50px;
    }
    #header {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 75px 25px;
    }
    #header h1, #header h3, #header h4, #header h2 {
        margin: 0;
    }
    #header nav {
        grid-column: 2;
    }
    header {
        padding-top: 50px;
        padding-bottom: 50px;
    }    
    #header img {
        max-width: 200px;
        border-radius: 15px;
    }
    .social {
    		padding: 10px;
    		/* margin-right: 100px; */
    		margin-top: 50px;
    	}

    /* ---------------------------------------------------------------------------------NAV--------------------------------------------------------------------------------- */
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block; 
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
        padding-bottom: 50px;
    }
    nav {
        max-width: 720px;
    }


    /*---------------------------------------------------------------------------------Footer--------------------------------------------------------------------------------- */
}