/*-----------------Large CSS------------------*/
@media only screen and (min-width: 60em) {
    /* ---------------------------------------------------------------------------------HEADER--------------------------------------------------------------------------------- */
    h1 {
        font-size: 50px;
    }
    #header {
        grid-column: 1/4;
    }
    #header h1 {
        grid-column: 2;
        margin: 0 auto;
    }
    #headernav {
        grid-column: 3;
    }
    header {
        padding-top: 5px;
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }    
    #header {
        background-image: url("https://cdn.glitch.global/2f390c12-d4e1-40e0-a51f-298c860e6db7/iStock-525969927%20(3).jpg?v=1647911176910");
        min-height: 1100px; 
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #header img {
        max-width: 150px;
        border-radius: 15px;
    }
    .social {
    	padding: 10px;
    	/* margin-top: 50px; */
        grid-column: 3;
        grid-row: 2;
    }
    #header .social {
        grid-column: 3;
    }

    /* ---------------------------------------------------------------------------------NAV--------------------------------------------------------------------------------- */
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block; 
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
        padding-bottom: 50px;
    }
    nav {
        max-width: 500px;
        margin-inline-start: auto;
    }
    #headernav nav {
        grid-column: 3;
    }

/* ------------------------------------------------------------------------------------ Home -------------------------------------------------------------------------------- */
    .temples {
        background-color: #3F437F;
        border-radius: 4px;
        margin: 30px;
        padding: 25px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: auto;
        box-shadow: 5px 10px 18px #3F437F;
    }    
    .temples img {
        width: 100%;
        max-width: 700px;
        border-radius: 4px;
        height: auto;
        margin: 0 auto;
    }
    .temples section {
        padding-left: 20px;
        padding-right: 20px;
    }
/*---------------------------------------------------------------------------------Footer--------------------------------------------------------------------------------- */

    /* ----------------------------------------------Tours-------------------------------------------------- */
    .toursGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
    }
    .toursGrid img {
        border-radius: 2px;
    }
    .footerContact {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footerContact p, ul {
        grid-column: 3;
        margin: 0 auto;
        font-size: x-large;
    }
    .stars p {
        font-size: x-large; 
    } 
}