/* large view */
@media only screen and (min-width: 60em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; 
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;

	}
    nav {
        max-width: 720px;
    }

	section {
		margin: 0.5em;
		border: 1px solid #3079C5;
		padding:  1rem;
		background-color: #eee;
		align-items: center;
	}

	.grid {
		display: grid;
		grid-template-columns: 33% 33% 33%;
	}
	section:nth-child(3) {
		grid-column: span 1;
	}

}