table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    color:maroon;
    background-color:burlywood;
    border-radius: 10px;
    padding: 15px;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    width: 25%;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-family: 'Ubuntu', sans-serif;
}
  
tr:nth-child(even) {
    background-color: burlywood;
    font-family: 'Ubuntu', sans-serif;
}
.container_footer {
    background-color: burlywood;
    color: maroon;
    border-radius: 10px;
    padding: 2px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}